<!-- Footer Start -->
<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>¿Dónde encontrarnos?</h2>
                    <div class="contact-info">
                        <p><i class="fa fa-map-marker"></i>Cardoner 1000, Lobos, Bs.As, Argentina</p>
                        <p><i class="fa fa-envelope"></i>example@outlook.es</p>
                        <p><i class="fa fa-phone"></i>+54 9 1178574002</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Seguinos en</h2>
                    <div class="contact-info">
                        <div class="social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Sobre nosotros</h2>
                    <ul>
                        <li><a href="#">Acerca de</a></li>
                        <li><a href="#">Politicas de privacidad</a></li>
                        <li><a href="#">Términos & Condiciones</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Purchase Info</h2>
                    <ul>
                        <li><a href="#">Pyament Policy</a></li>
                        <li><a href="#">Shipping Policy</a></li>
                        <li><a href="#">Return Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row payment align-items-center">
            <div class="col-md-6">
                <div class="payment-method">
                    <h2>Aceptamos:</h2>
                    <img src="imagenes/payment-method.png" alt="Payment Method" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="payment-security">
                    <h2>Secured By:</h2>
                    <img src="imagenes/godaddy.svg" alt="Payment Security" />
                    <img src="imagenes/norton.svg" alt="Payment Security" />
                    <img src="imagenes/ssl.svg" alt="Payment Security" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
<!-- Footer Bottom Start -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 copyright">
                <p>Copyright &copy; <a href="https://htmlcodex.com">FashionNet</a>. Todos los derechos Reservados</p>
            </div>

            <div class="col-md-6 template-by">
                <p>Desarrollado por <a href="https://htmlcodex.com">MMR9</a></p>
            </div>
        </div>
    </div>
</div>
<!-- Footer Bottom End -->       