@using FashionNet.Utilidades
<!-- Top bar Start -->
<div class="top-bar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <i class="fa fa-envelope"></i>
                support@email.com
            </div>
            <div class="col-sm-6">
                <i class="fa fa-phone-alt"></i>
                +012-345-6789
            </div>
        </div>
    </div>
</div>
<!-- Top bar End -->
<!-- Nav Bar Start -->
<div class="nav">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a href="#" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    @if (User.IsInRole(CNT.Admin))
                    {
                        <a class="nav-item nav-link active" asp-area="Clientes" asp-controller="Home" asp-action="Index">Inicio</a>
                        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Categorias" asp-action="Index">Categorias</a>
                        <a class="nav-link text-dark" asp-area="Admin" asp-controller="SubCategorias" asp-action="Index">Sub-Categorias</a>
                        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Marcas" asp-action="Index">Marcas</a>
                        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Usuarios" asp-action="ListadoUsuarios">Usuarios</a>
                        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Productos" asp-action="Index">Productos</a>
                    }
                    else
                    {
                        <a class="nav-item nav-link" asp-area="Clientes" asp-controller="Home" asp-action="Index">Inicio</a>
                        <a class="nav-item nav-link" asp-area="Clientes" asp-controller="Home" asp-action="ListaProductos">Productos</a>
                        <a class="nav-item nav-link">Detalle Producto</a>
                        <a class="nav-item nav-link" asp-area="Clientes" asp-controller="Home" asp-action="Carrito">Carrito</a>
                        <a class="nav-item nav-link">Checkout</a>
                        <a class="nav-item nav-link">Mi Cuenta</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Más Paginas</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item">¿Quiénes somos?</a>
                                <a class="dropdown-item">Login & Registrar</a>
                                <a class="dropdown-item">Contactános</a>
                            </div>
                        </div>
                    }

                </div>
                <partial name="_loginPartial" />
            </div>
        </nav>
    </div>
</div>
<!-- Nav Bar End -->      