@page
@model LockoutModel
@{
    ViewData["Title"] = "Cuenta Bloqueada";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Su cuenta ha sido bloqueada. Por favor, intente ingresar más tarde.</p>
</header>
